:root {
  --primary: rgb(96, 99, 102);
  --operator: rgb(96, 99, 102);
  --number: rgb(67, 69, 71);
  --equals: rgba(79, 120, 187, 0.52);
  --warning: #ffd028;
  --danger: #eb3f27;
  --success: #75fa83;
  --white: #fdfdfd;
  --dark: #1a1818fd;
  background-color: ;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  border: 1px solid white;
  color: black;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

/*Button colours and styles*/

.btn--primary--solid {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid black;
}

.btn--clear--solid {
  background-color: firebrick;
  color: var(--white);
  border: 1px solid black;
}

.btn--operator--solid {
  background-color: var(--operator);
  color: var(--white);
  border: 1px solid black;
}

.btn--number--solid {
  background-color: var(--number);
  color: var(--white);
  border: 1px solid black;
}

.btn--equals--solid {
  background-color: var(--equals);
  color: var(--white);
  border: 1px solid black;
}

.btn--warning--solid {
  background-color: var(--warning);
  color: var(--dark);
  border: black;
}

.btn--danger--solid {
  background-color: var(--danger);
  color: var(--white);
  border: black;
}

.btn--success--solid {
  background-color: var(--success);
  color: var(--white);
  border: black;
}

.btn--primary--outline {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.btn--warning--outline {
  background-color: transparent;
  color: var(--warning);
  border: 2px solid var(--warning);
}

.btn--danger--outline {
  background-color: transparent;
  color: var(--danger);
  border: 2px solid var(--danger);
}

.btn--success--outline {
  background-color: transparent;
  color: var(--success);
  border: 2px solid var(--success);
}

/* Button sizes */

.btn--normal {
  height: 50px;
  width: 65px;
  font-size: 15px;
}

.btn--long {
  height: 100px;
  width: 65px;
  font-size: 15px;
}

.btn--wide {
  height: 50px;
  width: 130px;
  font-size: 15px;
}

